.lf-container{
    height: 578.2677001953125px;
    width: 395.06500244140625px;
    left: 336.1351318359375px;
    top: 229.7379150390625px;
    border-radius: 40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   
    margin-left: 125.12px; 

}

.lf-titles-container {
    margin-top: 80.74px;
    
}

.lf-title-logo{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: green;
    text-decoration: underline;
}

.lf-title-login{
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    display: flex;
    align-items: center;
    color: #414042;
    margin-top: 12.63px;
}

.sign-in-button{
    /* Button */
    width: 394.08px;
    height: 48.59px;
    left: calc(50% - 394.08px/2 - 414.97px);
    top: calc(50% - 48.59px/2 + 119.92px);

    background: #A93159;
    border-radius: 40px;
    margin-bottom: 43.73px;

    /* Text */
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
    padding-left: 165px;
    margin-top: 40.82px;
}

/* Hem className verip hemde inline'da style tanımlarsak inline'daki çalışır. */

.background-color{
    position: absolute;
    Width: 905px;
    Height: 546px;
    Top: 111px;
    Left: 631px;
    background: #E2EEF5;
    margin-right: 10px;
}

.loginPageBackground{
    Width: 905px;
    Height: 546px;
}